* {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}
a {
  text-decoration: none !important;
}
.container {
    max-width: none !important;
}

/* Common css */

.bg-grey {
  background: #f7f7f7;
}

.mb-16 {
  margin-bottom: 16px;
}
.mt-16 {
  margin-top: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}
.mt-24 {
  margin-top: 24px;
}

span.process {
  display: inline-block;
  height: 3px;
  width: 60px;
  margin-right: 10px;
  background: gray;
}
span.process.active {
  background: #199cdb;
}

.blue-badge {
  padding: 4px 16px;
  background: #06cbee;
  color: white;
  border-radius: 16px;
}

section > .container {
  /* width: 1170px; */
  margin: auto;
  display: block;
}
/* Nav bar styling */
#nav-bar {
  text-align: center;
}
#nav-bar .row > div {
  padding: 24px 12px;
}

#nav-bar .nav-item {
  border-left: 1px solid rgb(72, 72, 72);
}

#nav-bar .nav-item:first-child {
  border-left: none;
}

#nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  white-space: nowrap;
  display: block;
}
#nav-bar .name {
  padding: 24px 100px;
  color: black;
  font-size: 24px;
}
#nav-bar a i {
  color: skyblue;
}

/* Banner styling */
#banner {
  position: relative;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .title {
  color: white;
  text-align: center;
}

#banner .title h1 {
  font-size: 84px;
}

#banner .title span {
  font-size: 32px;
}

/* about styling */
#about #target {
  background-color: rgb(247, 247, 247);
  padding: 80px 48px;
}
#about #personal-info {
  padding: 80px 48px;
  background-color: rgb(223, 223, 223);
}
#about .section-title {
  font-size: 48px;
  margin-bottom: 48px;
}

#about ul {
  list-style-type: none;
  margin-bottom: 32px;
  padding-left: 0;
}

#about ul span {
  font-weight: 700;
}

#about .socials a {
  color: skyblue;
  font-size: 24px;
}

/* Job Info styling */
#job-info .container {
  padding: 40px 100px;
}

#job-info .job-info-wrapper {
  column-count: 3;
  column-gap: 20px;
  column-fill: balance;
}

#job-info .container-item {
  padding: 24px 48px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 12px;
  background: #fcf2ec;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

#job-info .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 60px;
  padding-bottom: 60px;
  text-transform: uppercase;
}

#job-info .header i {
  font-size: 64px;
}

#job-info .hobbies .content .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  justify-items: center;
}
#job-info .hobbies-item {
  text-align: center;
}

#job-info .hobbies-item .icon {
  border: 2px solid green;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 24px;
}

#job-info .hobbies-item .icon i {
  font-size: 24px;
}

.languages .content {
  margin-top: 48px;
}

.languages .languages-item {
  margin-bottom: 12px;
}

.skills .content {
  margin-top: 48px;
}

.skills .skills-item {
  margin-bottom: 12px;
}

/* certificate styling */
#certificate {
  padding: 48px 200px;
}

#certificate .section-title {
  margin-bottom: 64px;
  text-transform: uppercase;
  font-size: 48px;
}

#certificate .row > div > div {
  padding-left: 20px;
  padding-right: 20px;
}

#certificate .row > div {
  border-left: 1px solid #ff926b;
}

#certificate .row > div:first-child {
  border-left: none;
}

#certificate img {
  border: 1px solid #ddd;
  padding: 10px;
  background: white;
}

/* Project styling */
#project .container {
  padding: 60px 200px;
}

#project .section-title {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 24px;
}

#project .project-item {
  border: 1px solid #ddd;
  height: 100%;
}

.project-item .title {
  text-transform: uppercase;
  font-size: 32px;
  padding: 8px 16px;
}
.project-item .uint {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
  margin-top: 32px;
}

.project-item table .tb-title {
  width: 100px;
  vertical-align: top;
}

.project-item table tr,
.project-item table td {
  padding: 16px;
  border-top: 1px solid #ddd;
}

/* Footer styling */
#footer .container {
  padding: 32px;
}

#footer a {
  text-decoration: none;
  color: skyblue;
  display: inline-block;
}

#footer i {
  color: skyblue;
  font-size: 24px;
  margin-right: 8px;
}

.error-msg {
    color: red;
    font-style: italic;
    font-size: 12px;
    display: none;
    margin-top: 12px;
    margin-bottom: 12px;
}

#userInformation {
    display: none;
}

/* View more button style */
.view-more {
  background: rgb(255, 255, 175);
  border-radius: 10px;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#job-info .container-item:hover .view-more {
  display: block;
}


#job-info .container-item .content {
  display: none;
}
