@media screen and (max-width: 576px) {
  /* Banner styling */
  #banner {
    min-height: 300px;
  }
  #banner .title h1 {
    font-size: 30px;
  }
  #banner .title span {
    font-size: 20px;
  }
  /* Nav bar styling */
  #nav-bar .row > div {
    padding: 16px;
  }
  #nav-bar a {
    text-align: left;
  }
  #nav-bar .nav-item {
    border: none;
  }
  /* about styling */
  #about #target {
    padding: 16px;
  }
  #about #personal-info {
    padding: 16px;
  }
  #about .section-title {
    font-size: 32px;
  }

  #about .socials a {
    font-size: 18px;
  }

  /* Job Info styling */
  #job-info .container {
    padding: 16px;
  }

  #job-info .job-info-wrapper {
    column-count: 1;
  }

  #job-info .container-item {
    padding: 16px;
  }

  #job-info .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #job-info .header i {
    font-size: 32px;
  }

  /* certificate styling */
  #certificate {
    padding: 48px;
  }

  #certificate .section-title {
    margin-bottom: 32px;
    font-size: 32px;
  }

  #certificate .row > div {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ff926b;
  }

  #certificate .row > div:nth-child(2) > div {
    border-left: none;
  }

  #certificate .row > div:last-child {
    border-bottom: 1px solid #ff926b;
  }

  #certificate img {
    border-bottom: 2px solid #ff926b;
    padding-bottom: 15px;
  }

  /* Project styling */
  #project .container {
    padding: 16px;
  }
  #project .section-title {
    font-size: 24px;
  }
  .project-item .title {
    font-size: 20px;
  }

  #footer .container {
    padding: 16px;
  }
}
