* {
    padding: 0;
}
body {
    background: #053df5 !important;
}

.container {
  padding: 18px;
  padding: 10px;
}

.session {
    height: 100%;
    background: #cbeff1;
    padding: 12px 24px;
}

.title {
    font-size: 32px;
    color: blue;
    border-bottom: 1px solid rgb(24, 24, 245);
    font-weight: 700;
}

.sub-title {
    font-size: 20px;
    font-weight: 700;

}

tr, td {
    padding: 12px 24px;
}

.icon {
    width: 40px;
    font-size: 28px;
}

.timeline-index {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgb(196, 127, 236);
    border: 1px solid rgb(161, 161, 167);
    text-align: center;
    color: white;
}