@media screen and (max-width: 1200px) {
  #banner .title h1 {
    font-size: 60px;
  }

  /* about styling */
  #about #target {
    padding: 40px 20px;
  }
  #about #personal-info {
    padding: 40px 20px;
  }
  #about .section-title {
    font-size: 32px;
    margin-bottom: 48px;
  }
  #about .socials a {
    font-size: 20px;
  }

  /* Job Info styling */
  #job-info .container {
    padding: 20px;
  }

  #job-info .job-info-wrapper {
    column-count: 2;
  }

  #job-info .container-item {
    padding: 20px;
  }

  #job-info .header i {
    font-size: 48px;
  }

  /* certificate styling */
  #certificate {
    padding: 20px 48px;
  }

  #certificate .section-title {
    margin-bottom: 32px;
    font-size: 32px;
  }

  #certificate .row > div {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ff926b;
  }

  #certificate .row > div {
    border-left: none;
  }

  #certificate .row > div > div {
    padding-left: 20px;
    padding-right: 20px;
  }

  #certificate .row > div:nth-child(2) > div {
    border-left: 1px solid #ff926b;
  }

   #certificate .row > div:last-child {
    border-bottom: none;
  }

  /* Project styling */
  #project .container {
    padding: 40px 48px;
  }
  #project .section-title {
    font-size: 32px;
    margin-bottom: 18px;
  }
  .project-item .title {
    font-size: 24px;
    padding: 8px 16px;
  }
  .project-item .uint {
    margin-bottom: 18px;
    margin-top: 18px;
    font-size: 12px;
  }
  .project-item table tr,
  .project-item table td {
    font-size: 12px;
  }
}
